<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542809764424-t7sclu7gmdofeqcm3da57jeecmq53d3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542809764424-t7sclu7gmdofeqcm3da57jeecmq53d3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDzkKaxUhDFErJp_g6LunEBzj9-tLSb1-E</string>
	<key>GCM_SENDER_ID</key>
	<string>542809764424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devwedo.ezyList</string>
	<key>PROJECT_ID</key>
	<string>devwedo-ezylist</string>
	<key>STORAGE_BUCKET</key>
	<string>devwedo-ezylist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542809764424:ios:b1f1f9292ee2004adc1e7d</string>
</dict>
</plist>